/* Name animation */
@keyframes name-move-and-fade {
    from {
        color: rgba(255, 255, 255, 0);
        top: 0%;
    }
    to {
        color: rgba(255, 255, 255, 1);
        top: 15%;
    }
}

@keyframes img-links-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.page-wrap {
    width: 2050px;
    margin: 0 auto;
}

.header-container {
    position: relative;
    text-align: center;
}

.header-bg-img {
    /* Position Image*/
    position: relative;
    left: -20px;
    top: -20px;

    /* Blur */
    filter: blur(6px);
    -webkit-filter: blur(px);

    /* Feather */
    box-shadow: 30px 10px 2px rgba(0,0,0,0.6);
} 

.header-name {
    /* Positioning */
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Font & Color */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;

    /* Animation */
    animation-name: name-move-and-fade;
    animation-duration: 2s;
}

.header-projects-box {
    /* Positioning */
    position: relative;
    top: -575px;
    left: -500px;
    
    /* TODO: animate the projects box, make it a link, and 
    add the about me box and do the same */

    /* Animation */
    
    
}

#projects-img {
    opacity: 0;

    animation-name: img-links-fadein;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    border: 5px solid rgb(200,200,200);
}


