@font-face {
    font-family: Espresso;
    src: url('../rsc/EspressoDolce.ttf');
}

* {
    margin: 0;
    height: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.renderer-container, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.renderer-container {
    background-color: black;
}

.front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 120px #000, inset 0 0 80px #000, inset 0 0 40px #000;
}

h1 {
    font-family: Espresso;
    font-weight: 100;
    color: white;
}

#first-name {
    position: absolute;  
    top: 3%;
    left: 78%;

    font-size: 150px;
}

#last-name {
    position: absolute;  
    top: 13%;
    left: 68%;

    font-size: 150px;
}

.nav-bar, .quote-box {
    background-color: #333333;
    box-shadow: 0 0 25px 50px #333333;

    opacity: 0.5;
}

.nav-bar {
    position: absolute;
    width: 50%;
    height: 10%;

    top: 12%;
    left: 10%;

    
}

.quote-box {
    position: absolute;
    width: 50%;
    height: 40%;

    top: 40%;
    left: 25%;
}