/* Name animation */
@keyframes name-move-and-fade {
    from {
        color: rgba(255, 255, 255, 0);
        top: 0%;
    }
    to {
        color: rgba(255, 255, 255, 1);
        top: 10%;
    }
}

/* Box-link animations */
@keyframes img-links-fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Background image hover effect */
@keyframes bg-img-hover {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* Remove scrolling and excess white space */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.page-wrap {
    width: 1200px;
    margin: 0px auto;
}

.header-container {
    position: relative;
    text-align: center;
}

.header-bg-img {
    /* Position Image*/
    position: relative;
    left: -500px;
    top: -20px;

    /* Blur */
    filter: blur(6px);
    -webkit-filter: blur(px);
} 

.header-name {
    /* Positioning */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Font & Color */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;

    /* Animation */
    animation-name: name-move-and-fade;
    animation-duration: 2s;
}

.header-projects-box {
    /* Positioning */
    position: relative;
    top: -680px;
    left: -500px;
}

.header-about-box {
    /* Positioning */
    position: relative;
    top: -1055px;
    left: 500px;
}

#projects-img {
    /* Border */
    border: 5px solid rgb(200,200,200);

    /* Set opacity before animation to avoid glitches */
    opacity: 0;

    /* Animation */
    animation-name: img-links-fadein;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#about-img {
    /* Border */
    border: 5px solid rgb(200,200,200);

    /* Set opacity before animation to avoid glitches */
    opacity: 0;

    /* Animation */
    animation-name: img-links-fadein;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#bg-img {
    /* Scaling */
    width: 2100px;
    height: 1050px;

    /* Animation */
    animation-name: bg-img-hover;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}