.page-wrap {
    overflow-x: hidden;
}

.pr1 {
    position: relative;

    left: -60px;
    top: -45px;

    width: 2100px;
    height: 1000px;
}

.pr1-desc {
    position: absolute;

    top: 450px;
    left: 300px;
}

.footnote-decor {
    position: absolute;
    background-color: rgba(122, 135, 135, 0.4);

    bottom: -500px;
    left: 750px;

    width: 500px;
    height: 2px;
}

.footnote {
    position: relative;

    top: -35px;
    left: 50px;
}

#bkg-img {
    position: relative;

    width: 2100px;
    height: 500px;

    left: -60px;
    top: -50px;

    filter: blur(6px);
}

#heading-name {
    position: absolute;

    top: 4%;
    left: 37%;

    color: white;
    font-size: 120px;
    font-family: 'Courier New', Courier, monospace
}

#ftp-img {
    position: absolute;
    left: 23.5%;
    top: 35px;

    width: 1000px;
    height: 400px;
}

#pr1-desc-text-1 {
    color: rgb(122, 135, 135);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

#footnote-text {
    text-align: center;

    color: rgba(122, 135, 135, 0.6);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}


